name: Auto Git Pull on Push

on:
  push:
    branches:
      - main  

jobs:
  pull-changes:
    runs-on: self-hosted

    steps:
      - name: Pull latest changes
        run: |
          cd /home/nultra/1/Nultra
          git reset --hard HEAD
          git pull origin main

      - name: Restart logger_main via systemd
        run: sudo systemctl restart logger_main
