name: Auto Git Pull on Push

on:
  push:
    branches:
      - main  # atau ganti ke branch lain kalau perlu

jobs:
  pull-changes:
    runs-on: self-hosted

    steps:
      - name: Pull latest changes
        run: |
          cd /home/nultra/1/Nultra  # â† Ganti ke path sebenarnya di Raspi kamu
          git reset --hard HEAD     # optional: pastikan tidak ada konflik
          git pull origin main

      - name: Jalankan logger_main.py
        run: |
          nohup python3 logger_main.py > logger.log 2>&1 &